.fondo{
    background-image: url(../img/pattern.png);
    width: 100%;
    height: 190px;
    background-color:  #4EA0FF;
    background-repeat: repeat-x;
}
.logo{
    width: 250px;
    margin-top: 95px;
    padding-left: 10px;
   
}
.titolo{
    font-size: 55px;
}
.autore{
    font-size: 20px;
    font-weight: bold;
    color: #808080; 
}
.nome-autore{
    color: #4EA0FF;
}
.data{
    color: #808080;
}